<div class="flex-container v-flex full-height">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><mat-icon>mood</mat-icon></span>
      <span>Welcome to Simon Game!</span>
      <button mat-icon-button color="Warn" (click)="toggleView()">
        <mat-icon *ngIf="isGameShowing">people</mat-icon>
        <mat-icon *ngIf="!isGameShowing">play_arrow</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="flex-item">
    <app-simon-game class="v-flex" *ngIf="isGameShowing"></app-simon-game>
    <app-game-scores *ngIf="!isGameShowing"></app-game-scores>
  </div>
</div>
